<body>
  <app-navbar></app-navbar>
  <div class="main_content_">

    <!--Die Seite ist in Top und Bot aufgeteilt-->
    <div class="main_content_topside_">
      <h1>Task Manager</h1>
    <button class="add_new_btn_" (click)="openDialog()"
      >Add New +</button
    >
    </div>

    <!--Die Seite ist in Top und Bot aufgeteilt-->
    <div class="main_content_botside_">
      <div class="newTask_container_ main_content_botside_container_">
        <div class="progressTask_title_">
          <div id="newTask_circle_"></div>
          <h2>New Task</h2>
        </div>
        <app-new-task-card></app-new-task-card>
      </div>

      <div class="inProgress_container_ main_content_botside_container_">
        <div class="progressTask_title_">
          <div id="inProgress_circle_"></div>
          <h2>In Progress</h2>
        </div>
      </div>

      <div class="doneTask_container_ main_content_botside_container_">
        <div class="progressTask_title_">
          <div id="doneTask_circle_"></div>
          <h2>Done Task</h2>
        </div>
        
      </div>
    </div>
  </div> 
</body>
